@media screen and (min-width: 501px) {
  .son .winner {
    width: 340px;
  }
  .container .child-1 {
    height: 500px;
  }
  .people .part-1 .man-1 .right .text p {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .products {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* column-gap: 30px; */
  }
  .products .product-1 {
    width: 45%;
  }
  .footer .content {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .social {
    width: 50%;
  }
  .footer .content .content-1 {
    width: 50%;
  }
  .footer .foot {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer .foot .card {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .footer .foot p {
    width: 100%;
  }
}
@media screen and (min-width: 930px) {
  .son-1 .tabel {
    width: 80%;
    overflow: hidden;
  }
  table {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
/* .footer{
   padding:0 200px;
  margin: auto;
} */
.footer .content { margin: auto; display: flex;
justify-content: space-evenly;
width: 80%;} 
.footer .social {
    width: 25%;
    margin-right: 30px;
  }

  .footer .content .content-1 {
    width: 20%;
  }.footer .foot { 
    width: 80%;
    margin: auto;
  }
  .navbar {
    padding: 10px 0;
  }
  .parent {
    display: flex;
    justify-content: flex-start;
  }
  .parent .logo {
    width: 50%;
  }

  .parent .links {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .parent .links ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
  }

  .parent .links ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.4s ease;
  }
  .parent .links ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7f22fe;
    transition:
      width 0.4s ease,
      color 0.4s;
  }
  .parent .links ul li a:hover {
    color: #7f22fe;
  }
  .parent .links ul li a:hover::after {
    width: 100%;
  }

  .parent .links ul li .ancor-1 {
    color: #7f22fe;
  }
  .parent .links ul li .ancor-1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7f22fe;
  }
  .father .container {
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 30px;
  }
  .father .container .parent-2 {
    padding: 0;
  }

  .reviews .total {
    display: flex;
    position: relative;
    column-gap: 30px;
    margin: auto;
    width: 90%;
  }
  .reviews .review {
    width: 30%;
    position: sticky;
    margin-top: 30px;
    top: 0;
    left: 0;
  }
  .reviews .people {
    width: 70%;
  }
  .products {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .products .product-1 {
    width: calc(90% / 4);
  }
}
