* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --width-icon: 40px;
  --width-star: 25px;
  --pad-icon: 9px;
  --color: #8e51ff;
}
body {
  margin: 0;
  padding-top: 80px;
}
.navbar {
  background-color: #f5f3ff;
  padding: 15px 0;
  border: 1px solid #ddd6ff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.parent {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.parent .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 700;
}
.parent .logo img,
.footer .social .logo img {
  width: var(--width-icon);
  padding: var(--pad-icon);
  background-color: var(--color);
  border-radius: 8px;
}
.parent .links {
  display: none;
  width: 50%;
}
.container {
  background-color: #fff;
  padding: 100px 0;
}
.container .parent {
  width: 90%;
}
.container .item {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #e0e2e6;
}
.container .child-1 {
  background-image: url(../images/hero-img.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  border-radius: 15px;
  position: relative;
}
.container .child-1::after {
  content: "-12% OFF";
  position: absolute;
  background-color: #8e51ff;
  top: 20px;
  left: 20px;
  color: #fff;
  padding: 7.5px 15px;
  border-radius: 25px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.parent-2 {
  width: 100%;
}
.parent-2 .child-2 {
  margin: auto;
  width: 90%;
}
.parent-2 .child-2 .items {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.parent-2 .child-2 .items span {
  padding: 7.5px 10px;
  background-color: #a684ff;
  border-radius: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.parent-2 .child-2 .content h1 {
  color: #333;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.parent-2 .child-2 .content span {
  color: #a684ff;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.parent-2 .child-2 .content p {
  color: #333;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}
.parent-2 .child-2 .end .money {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.parent-2 .child-2 .end .money .span-1 {
  color: #333;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 700;
}
.parent-2 .child-2 .end .money .span-2 {
  color: #333;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 7.5px 15px;
  text-decoration: line-through;
}
.parent-2 .child-2 .end .money .span-3 {
  color: #e7000b;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  background-color: #ffe2e2;
  border-radius: 20px;
}
.parent-2 .child-2 .end .content-1 p {
  color: #333;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.parent-2 .child-2 .end .button {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}
.parent-2 .child-2 .end button {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 35px;
  color: #333;
  transition: all 0.3s;
}
.parent-2 .child-2 .end .button img {
  width: 25px;
}
.parent-2 .child-2 .end .button .but-1 {
  color: #fff;
  background-color: #8e51ff;
  border: 0;
  cursor: pointer;
}
.parent-2 .child-2 .end .button .but-2 {
  color: #333;
  background-color: #fff;
  border: 2px solid #d1d5dc;
  cursor: pointer;
}
.parent-2 .child-2 .end button:hover {
  transform: scale(1.03);
}
.son {
  padding: 30px 0 150px 0;

  background-color: #f7f5ff;
}

.son .winner {
  background-color: #fff;
  border: 1px solid #d1d5dc;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  position: relative;
  top: 50px;
  color: #00a63e;
}
.son .winner img {
  width: 30px;
  padding: 0;
  margin: 0 5px 0 0;
}

.son .winner h3 {
  margin: 0;
  text-align: left;
  font-family: sans-serif;
  font-size: 18;
  font-weight: 700;
}
.son .winner p {
  margin: 5px 0;
  text-align: left;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.son-1 .header {
  margin: 60px 0;
}
.son-1 .header h2 {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #333;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.son-1 .header span {
  color: #8e51ff;
}
.son-1 .header p {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #333;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.son-1 .tabel {
  border: 2px solid #d1d5dc;
  background-color: #fff;
  width: 95%;
  margin: auto;
  padding: 50px;
  border-radius: 30px;
  overflow-y: hidden;
  overflow-x: scroll;
}
table {
  border-collapse: collapse;
  width: 930px;
  position: relative;
  table-layout: fixed;
}

table::after {
  content: "";
  position: absolute;
  background-color: #2f00ff0f;
  width: 20%;
  top: -25px;
  bottom: -25px;
  left: 20%;
  border-radius: 15px;
}
table th {
  border-bottom: 2px solid #dadee3;
  text-align: center;
  padding-left: 20px;
}

table td {
  border-bottom: 1px solid #dadee3;
  padding: 20px 0;
}

table tfoot td {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  border: none;
  text-align: center;
}
table tfoot p:nth-child(1) {
  font-family: sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
.tabel .mon-1 {
  font-size: 24px;
  font-weight: 700;

  color: #7008e7;
}
.tabel .mon-2 {
  font-size: 20px;
  font-weight: 600;
}

img[alt="icon"] {
  width: 20px;
}
.tabel .imgs {
  width: 100%;
}
img[alt="icon-s"] {
  width: 20px;
}
span[id=""] {
  color: #e7000b;
}

span[id="1"] {
  padding: 7.5px 10px;
  background-color: #8e51ff;
  border-radius: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

table thead {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
}
table thead .he {
  color: #7008e7;
}

table thead p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #6a7282;
  padding-left: 5px;
  text-align: center;
}
table tbody td:nth-child(1) {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: left;
}
table thead th:nth-child(1) {
  text-align: left;
}
table tfoot td:nth-child(1) {
  text-align: left;
}
table tbody td {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.reviews {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 50px 0 80px;
}

.reviews .header {
  text-align: center;
  padding-bottom: 50px;
}

.reviews .header h2 {
  color: #333;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.reviews .header p {
  margin: auto;
  color: #333333;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.reviews .header span {
  color: #7f22fe;
}

.reviews .review {
  padding: 30px;
  width: 95%;
  margin: auto;
  border: 2px solid #e5e7eb;
  text-align: center;
  color: #333;
  border-radius: 20px;
}
.reviews .review .head {
  margin-bottom: 35px;
}
.reviews .review p:nth-of-type(1) {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}
.reviews .review p:nth-of-type(2) {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.reviews .review img {
  width: var(--width-star);
}

.reviews .review .body .line-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.reviews .review .body .percent-1 {
  background-color: #e5e7eb;
  width: 75%;
  height: 12px;
  position: relative;
  border-radius: 35px;
  margin: 0 15px 0 20px;
}

.reviews .review .body .percent-1::before {
  content: "";
  width: 78%;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0b100;
  border-radius: 30px;
}

.reviews .review .body .percent-2 {
  background-color: #e5e7eb;
  width: 75%;
  height: 12px;
  position: relative;
  border-radius: 35px;
  margin: 0 15px 0 20px;
}

.reviews .review .body .percent-2::before {
  content: "";
  width: 15%;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0b100;
  border-radius: 30px;
}
.reviews .review .body .percent-3 {
  background-color: #e5e7eb;
  width: 75%;
  height: 12px;
  position: relative;
  border-radius: 35px;
  margin: 0 15px 0 20px;
}

.reviews .review .body .percent-3::before {
  content: "";
  width: 5%;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0b100;
  border-radius: 30px;
}
.reviews .review .body .percent-4 {
  background-color: #e5e7eb;
  width: 75%;
  height: 12px;
  position: relative;
  border-radius: 35px;
  margin: 0 15px 0 20px;
}

.reviews .review .body .percent-4::before {
  content: "";
  width: 1.5%;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0b100;
  border-radius: 30px;
}

.reviews .review .body .percent-5 {
  background-color: #e5e7eb;
  width: 75%;
  height: 12px;
  position: relative;
  border-radius: 35px;
  margin: 0 15px 0 20px;
}

.reviews .review .body .percent-5::before {
  content: "";
  width: 0.5%;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0b100;
  border-radius: 30px;
}
.reviews .review .body span:nth-of-type(1) {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.reviews .review .body span:nth-of-type(2) {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.reviews .review .foot {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #d1d5dc;
}
.reviews .review .foot div {
  width: 50%;
  text-align: center;
  color: #333;
}
.reviews .review .foot div span {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.reviews .review .foot div p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

.people .part-1 {
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
  border: 2px solid #e5e7eb;
  position: relative;
  top: 30px;
  padding: 30px;
  font-family: sans-serif;
  color: #333;
  border-radius: 20px;
}

.people .part-1 .man-1 {
  width: 100%;
  position: relative;
}
.people .part-1 .man-1 .right {
  display: flex;
  align-items: center;
}
.people .part-1 .man-1 .right .img img:nth-of-type(1) {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #a684ff;
}
.people .part-1 .man-1 .right .text {
  margin-left: 15px;
}
.people .part-1 .man-1 .right .text img {
  width: 20px;
}
.people .part-1 .man-1 .right .text p {
  margin: 0 0 7px 0;
  width: 50%;
}
.people .part-1 .man-1 .right .text p:nth-of-type(1) {
  font-weight: 700;
  font-size: 18px;
}

.people .part-1 .man-1 .right .text span {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}

.people .part-1 .man-1::before {
  content: "Verified Purchase";
  height: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  background-color: #ede9fe;
  color: #5d0ec0;
  position: absolute;
  top: 0;
  right: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.people .part-1 .man-1::after {
  content: "3 months ago";
  height: 15px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.people .part-1 .man-1 p:last-child {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #414141;
}

.people .part-1:nth-of-type(3) .man-1::after {
  content: "1 month ago";
  height: 15px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.people .part-1:nth-of-type(4) .man-1::after {
  content: "2 weeks ago";
  height: 15px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.people .part-1:nth-of-type(2) .man-1::after {
  content: "2 months ago";
  height: 15px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.people .button {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
}
.people .button button {
  position: absolute;
  top: 50px;
  padding: 14px 32px;
  color: #fff;
  background-color: var(--color);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 35px;
  transition: all 0.3s;
}
.people .button button:hover {
  background-color: #fff;
  color: var(--color);
  cursor: pointer;
}
.width {
  width: 100%;
  height: 100vh;
  background-color: tomato;
}

.complete {
  padding: 80px 0;
  background-color: #f7f5ff;
}
.complete .header {
  padding-bottom: 80px;
}
.complete .header h2 {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #333;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.complete .header span {
  color: #8e51ff;
}
.complete .header p {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #333;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.products .product-1 {
  width: 90%;
  margin: auto;
  padding: 25px;
  background-color: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 15px;
  position: relative;
  margin-bottom: 30px;
}
.products .product-1 .img {
  width: 100%;
  height: 200px;
  background-image: url(../images/related-products-1.png);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  transition: transform 0.3s;
}
.products .product-1:nth-of-type(2) .img {
  background-image: url(../images/related-products-2.png);
}
.products .product-1:nth-of-type(3) .img {
  background-image: url(../images/related-products-3.png);
}
.products .product-1:nth-of-type(4) .img {
  background-image: url(../images/related-products-4.png);
}
.products .product-1::after {
  content: "Accessor";
  padding: 5px 12px;
  background-color: #00bba7;
  position: absolute;
  top: 40px;
  left: 40px;
  color: #fff;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.products .product-1:nth-of-type(2)::after {
  content: "Essentia";
  padding: 5px 12px;
  background-color: #00c950;
  position: absolute;
  top: 40px;
  left: 40px;
  color: #fff;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.products .product-1:nth-of-type(3)::after {
  content: "Power";
  padding: 5px 12px;
  background-color: #00b8db;
  position: absolute;
  top: 40px;
  left: 40px;
  color: #fff;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.products .product-1:nth-of-type(4)::after {
  content: "Safety";
  padding: 5px 12px;
  background-color: #ff6900;
  position: absolute;
  top: 40px;
  left: 40px;
  color: #fff;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.products .product-1::before {
  content: "Add To Card";
  padding: 12px 15px;
  background-color: #8e51ff;
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #fff;
  border-radius: 35px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.products .product-1 .text {
  font-family: sans-serif;
  color: #333;
}
.products .product-1 .text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.products .product-1 .text p {
  font-weight: 400;
  padding-bottom: 10px;
  margin-top: 0;
}
.products .product-1 .text span {
  font-weight: 700;
  font-size: 24px;
}
.products .product-1:hover {
  .img {
    transform: scale(1.05);
  }
}
.products .button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}
.products .button button {
  padding: 20px 30px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #7008e7;
  border: 2px solid #7f22fe;
  background-color: transparent;
  border-radius: 35px;
  transition: all 0.3s;
  cursor: pointer;
}

.products .button button:hover {
  background-color: #7f22fe;
  color: #fff;
  cursor: pointer;
}
.footer {
  width: 100%;
  background-color: #101828;
  padding: 20px;
  font-family: sans-serif;
}
.footer .content {
  width: 100%;
  margin: auto;
  padding-top: 60px;
}

.footer .social  {
  padding-bottom: 30px;
}
.footer .social .logo {
  display: flex;
align-items: center;
column-gap: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.footer .social p{ 
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
color: #fff;
font-style: normal;
line-height: 26px;

}
.footer .social .icon {
  display: flex;
  justify-content: left;
  column-gap: 15px;
  
}
.footer .social .icon > div { display: flex;
  justify-content: center;
align-items: center;
  width: 40px;
  padding: 8px 10px;
  border-radius: 10px;
  background-color:#1e2939 ;
  transition: all .2s;
  
}
.footer .social .icon > div img { width: 20px;
}
.footer .social .icon .one:hover{   cursor: pointer;
 background-color: #3b5998;
}
.footer .social .icon .two:hover{  cursor: pointer;
 background-color: #1DA1F2;
}
.footer .social .icon .three:hover{  cursor: pointer;
 background-color: #d6249f;
}
.footer .social .icon .four:hover{  cursor: pointer;
 background-color: #FF0000;
}

.footer .content .content-1  {
  padding-bottom: 30px;
  
}
.footer .content .content-1 h5 {
margin-top: 0;
color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.footer .content .content-1 p {
color: #99a1af;
  font-family: sans-serif;
  font-size:16px ;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  transition: all .2s;
}
.footer .content .content-1 p:hover {
color: #fff;
}
.footer .foot {
  
  border-top: 0.5px solid #6a728231;
    width: 100%;

}
.footer .foot .parent{
  width: 100%;
}
.footer .foot .card { 
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  column-gap: 25px;
}
.footer .foot .card .paypal ,.master , .visa   {
  border-radius: 10px; 
  padding: 10px 10px ;
  background-color: #fff;
} 
.footer .foot .card .paypal   { 
  width:90px;
}
.footer .foot .card .master  { 
  width:50px;
}
.footer .foot .card  .visa  { 
  width:70px;
}
.footer .foot .card img[alt="paypal"] { 
  width: 100%;
}
.footer .foot .card img[alt="master"] { 
  width: 100%;
}
.footer .foot .card img[alt="visa"] { 
  width: 100%;
}
.footer .foot p { 
  color: #fff ;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

}